@mixin button ($background) {
  background-color: $background;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 15px;
}

button.blue { @include button(#0074de); }
button.green { @include button(#00d75a); }
button.red { @include button(#ff005f); }
